@import "vendor/bootstrap/less/bootstrap.less";
@import "vendor/font-awesome/less/font-awesome.less";
@icon-font-path: "fonts/bootstrap/";
@fa-font-path:   "fonts/font-awesome/";

.navbar-nav-no-collapse {
  @media (max-width: @screen-xs-max) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top: ((@navbar-height - @line-height-computed) / 2);
        padding-bottom: ((@navbar-height - @line-height-computed) / 2);
      }
    }
  }

}

