<div class="row">
    <div class="col-md-5">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-dashboard"></span> Mobiler Stundenplan</h1>
            <p>Georg-Simon-Ohm-Berufskolleg</p>
        </div>

        <p>Der Stundenplan unserer Schule ist auf einem Smartphone unlesbar. Irgendwie verständlich.
            Wir sind schließlich keine IT-Schule, das 21. Jahrhundert ist noch in weiter Ferne, und das Rad hat noch Ecken.</p>

        <p>Um dem eine Abhilfe zu schaffen, habe ich diese Seite erstellt.</p>

        <h3>Was ich damit sagen will?</h3>
        <p><b>Mobile First</b> ist hier das Stichwort. Die komplette Seite ist Smartphone/Tablet optimiert und lässt sich schnell und einfach mit dicken Fingern auf einem kleinen Display nutzen.</p>
    </div>
    <div class="col-md-7">
        <div class="jumbotron well">
            <div class="row">
                <div class="col-md-8">
                    <h1>Let's talk about me!</h1>
                    <p>Um die 20 Jahre alt, liebt Javascript, Kaffee und das Web...</p>
                </div>
                <div class="col-md-4">
                    <p class="text-center">
                        <img src="http://www.gravatar.com/avatar/ec0a45ce61adb575aacd3aa2134f943c?s=200" alt="Photo" class="img-circle">
                    </p>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
            	    <br />
            	    <p class="text-center"><a href="http://blog.medok.in" target="_blank" class="btn btn-primary btn-lg" role="button">Zum Blog</a></p>
            	</div>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-flash"></span> Funktionen</h3>
        <p>Bisher kann man nur seinen Stundenplan einsehen, und Favoriten markieren, die auf der Startseite angezeigt werden.</p>
        <p>Selbst eine Idee? <a href="mailto:nikodemjaworski@gmail.com">Meld dich!</a></p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-wrench"></span>  Technologie </h3>
        <p>Nur JavaScript, in verschiedenster Form.</p>
        <ul>
            <li><a href="http://emberjs.com/" target="_blank">Ember</a></li>
            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a></li>
            <li><a href="http://nodejs.org/" target="_blank">Node.js</a></li>
            <li><a href="http://gruntjs.com/" target="_blank">Grunt</a></li>
            <li><a href="http://bower.io/" target="_blank">Bower</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-send "></span>  API</h3>
        <p>Die Daten müssen erstmal formatiert werden, das passiert durch ein kleines aber feines Script auf meinem Server. Die API ist offen, so das jeder mal dran darf.</p>
        <a href="http://api.gso.medok.in">API Dokumentation</a>
    </div>
</div>
