<div style="padding:10px 20px;">
    <h3>Haftung</h3>
    <p>Die Stundenpläne werden in Echtzeit von der Internetseite der Georg-Simon-Ohm Schule geladen. 
    Ich kann für die Korrektheit der Daten nicht garantieren. Es kann durchaus sein, dass der von mir entwickelte Algorithmus zum Auslesen der Daten Fehler enthält und diese nicht richtig dargestellt werden.</p>
    <h3>Impressum</h3>
    <p>Nikodem Jaworski <br> Falltorstraße 35 <br>51429 Bergisch Gladbach <br>nikodemjaworski@gmail.com</p>
</div>