{{#paper-nav-container classNames="ember-app"}}

      {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <div class="logo">
              <strong>Stupid-GSO</strong>
            </div>
          </div>
        {{/paper-toolbar}}

        {{#paper-content}}
          <nav class="sidenav">
            <ul>
              <li>{{#link-to "classes"}}Klassen{{/link-to}}</li>
              <li>{{#link-to "teachers"}}Lehrer{{/link-to}}</li>
              <li>{{#link-to "rooms"}}Räume{{/link-to}}</li>
              <li class="spacer"></li>
              <li>{{#link-to "colors"}}Farben{{/link-to}}</li>
              <li>{{#link-to "imprint"}}Impressum{{/link-to}}</li>
            </ul>
          </nav>
        {{/paper-content}}
      {{/paper-sidenav}}

      {{#paper-content flex-layout="column" flex=true}}
        {{outlet}}
      {{/paper-content}}

{{/paper-nav-container}}
