{{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action="toggleMenu" icon-button=true}}
            {{paper-icon icon="menu" size="lg"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}

        <h2>Farben</h2>
      </div>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}

  <p>
    Im Stundenplan werden Veränderungen gegenüber dem regulärem Unterricht in folgenden Farben dargestellt.
  </p>

  <table>
    <tr>
      <td width="25%" class="roomChange">
        Raumwechsel
      </td>
      <td width="25%" class="shift">
        Verlegt
      </td>
      <td width="25%" class="irregular">
        Vertretung
      </td>
      <td width="25%" class="cancelled">
        Ausfall
      </td>
    </tr>
  </table>
  {{/paper-card-content}}
{{/paper-card}}
