{{input type='text' class='form-control' value=controller.filterString placeholder='Suche' tabindex='1'}}

<br/>

<div class="list-group">
    {{#each item in content}}
        {{#if item.visible}}
            {{#link-to 'timetable' type item.name week=week class='list-group-item'}} {{item.name}} <i class="fa fa-chevron-right pull-right"></i> {{/link-to}}
        {{/if}}
    {{/each}}
</div>





