{{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle}}
          {{paper-icon icon="menu" size="lg"}}
        {{/paper-sidenav-toggle}}

        <h2>Impressum</h2>
      </div>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}
  <h3>Für den Inhalt verantwortlich</h3>
  <p>Nikodem Jaworski <br> Falltorstraße 35 <br>51429 Bergisch Gladbach <br>nikodemjaworski@gmail.com</p>
  <h3>Haftung</h3>
  <p>Die Stundenpläne werden von der Internetseite der Georg-Simon-Ohm Schule geladen.
  Ich kann für die Korrektheit der Daten nicht garantieren. Es kann durchaus sein, dass der von mir entwickelte Algorithmus zum Auslesen der Daten Fehler enthält oder diese nicht richtig dargestellt werden.</p>
  {{/paper-card-content}}
{{/paper-card}}
