{{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action="toggleMenu" icon-button=true}}
            {{paper-icon icon="menu" size="lg"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}

      </div>
{{/paper-toolbar}}
