<ul class="nav navbar-nav navbar-left navbar-nav-no-collapse">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">KW: {{currentWeek}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {{#each week in weeks.content}}
                {{#linkTo "timetable" type element week=week tagName="li" href=false}}
                    {{#linkTo "timetable" type element week=week}} {{week}} {{/linkTo}}
                {{/linkTo}}
            {{/each}}
        </ul>
    </li>


    <li>
        <a {{action 'toggleStar'}} >
        {{#if isStarred}}
            <i class="fa fa-star"></i>
        {{else}}
            <i class="fa fa-star-o"></i>
        {{/if}}
        </a>
    </li>

</ul>