<form class="navbar-form navbar-left" role="form" {{action 'submit' on='submit'}}>
  <div class="form-group">
    {{input type='text' class='form-control' value=controller.filterString placeholder='Suche' tabindex='1'}}
  </div>
</form>
