<ul class="nav navbar-nav navbar-left">
    {{#each week in weeks.content}}
        {{#linkTo "timetable" type element week=week tagName="li" href=false}}
            {{#linkTo "timetable" type element week=week}} KW: {{week}} {{/linkTo}}
        {{/linkTo}}
    {{/each}}

    <li>
        <a {{action 'toggleStar'}} >
        {{#if isStarred}}
            <span class="glyphicon glyphicon-star"></span>
        {{else}}
            <span class="glyphicon glyphicon-star-empty"></span>
        {{/if}}
        </a>
    </li>

</ul>