{{#if model.starred}}
<h5><i class="fa fa-star"></i> Favoriten</h5>
<div class="list-group">
    {{#each item in model.starred}}
        {{#link-to 'timetable' item.type item.element class='list-group-item'}} {{item.element}} <i class="fa fa-chevron-right pull-right"></i> {{/link-to}}
    {{/each}}
</div>

<h5>Typen</h5>

{{/if}}

<div class="list-group">
    {{#each item in model.types}}
        {{#link-to 'elements' item.name class='list-group-item'}} {{item.text}} <i class="fa fa-chevron-right pull-right"></i> {{/link-to}}
    {{/each}}
</div>


